body
  background-image: url('ttt.jpg')
  background-size: cover
  height: 100vh
  background-position-y: 60%
  background-position-x: 50%
  .board-wrapper
    width: min-content
    min-width: 310px
    height: auto