$blue: rgb(89, 89, 167);
$textblack: rgb(94, 94, 94);
$bgwhite rgb(206, 206, 206)
$bordercolor orang
$borderthickness: 5px;

main {
    text-align: center;
    > section {
        .second-article {
            color: $textblack;
            border: $borderthickness $bordercolor solid;
            background-color: $bgwhite;
            font-size: 25px;
        }
        .first-article {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;
            ol {
                color: lightsalmon;
                font-weight: 700;
                font-size: 25px;
                border: 2px slategray solid;
            }
        }
    }
}